body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.balancesheet {
  width: 800px;
  height: 50px;
  margin: 80px auto;
  box-shadow: 0 2px 0 #61dafb;

}

.title {
  padding-left: 150px;
  color: #61dafb;
}

.total{
  padding-top: 30px;
}

.asset{
    padding-top: 20px;
}
h2{
  color: #61dafb;
}

h3{
  padding-left: 50px;
  color: #61dafb;
}

/* FORMS */
.form {
  display: flex;
}

.text {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #282c34;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #C7BCF8;
  letter-spacing: 2px;
  outline: none;
}

.text::-webkit-input-placeholder{
  color: #61dafb;
  letter-spacing: 2px;
}

.text:focus{
  background-color: rgba(0, 0, 0, 0.4);
}

.submit {
  display: block;
  font-size: .8em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #61dafb;
  border-radius: 5px;
  border: none;
  color: #282c34;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
}
.finish {
  display: block;
  width: 787px;
  height: 40px;
  background-color: #61dafb;
  cursor: pointer;
  color: #282c34;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1em;
}

.positiveNetWorth{
  float: right;
  padding-right: 280px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  color: lightgreen;
}

.negativeNetWorth{
  float: right;
  padding-right: 270px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  color: red;
}

button,
.submit {
  outline: none;
  transition: background-color 0.2s ease,
  color 0.2s ease;
}

.view{
  padding-top: 30px;
}